In [2]:
import anndata as ad

In [ ]:
experiment_name = 'across_cell_types'
data_file = 'pbmc'
file_type = '.h5ad'
cond_key = 'condition'
ctrl_key = 'control'
stim_key = 'stimulated'
cell_label_key = 'cell_type'
adata = ad.read_h5ad(f'./{data_file}{file_type}')

/home/Disk14T/wjl/tools/anaconda3/envs/wjl/lib/python3.12/site-packages/anndata/_core/anndata.py:1818: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

In [4]:
adata

AnnData object with n_obs × n_vars = 18868 × 6998
    obs: 'condition', 'n_counts', 'n_genes', 'mt_frac', 'cell_type', 'condition_cell_type'
    obsm: 'X_pca', 'X_tsne', 'X_umap'

In [5]:
adata.obs

,condition,n_counts,n_genes,mt_frac,cell_type,condition_cell_type
index,,,,,,
AAACATACCAAGCT-1-stimulated,stimulated,1160.0,589,0.0,NK,stimulated_NK
AAACATACCCCTAC-1-stimulated,stimulated,1729.0,795,0.0,Dendritic,stimulated_Dendritic
AAACATACCCGTAA-1-stimulated,stimulated,1360.0,585,0.0,CD4T,stimulated_CD4T
AAACATACCCTCGT-1-stimulated,stimulated,1442.0,732,0.0,B,stimulated_B
AAACATACGAGGTG-1-stimulated,stimulated,1237.0,546,0.0,CD4T,stimulated_CD4T
...,...,...,...,...,...,...
GAGTGTTGCACACA-1-stimulated,stimulated,2409.0,919,0.0,B,stimulated_B
GACCTCACAGATCC-1-control,control,995.0,550,0.0,NK,control_NK
GCGTAATGGGTAAA-1-stimulated,stimulated,1106.0,503,0.0,CD4T,stimulated_CD4T
TACATAGAGAAGGC-1-stimulated,stimulated,1603.0,657,0.0,CD4T,stimulated_CD4T
CCAGCTACCCGTTC-1-control,control,2169.0,942,0.0,B,control_B

In [6]:
adata.obs[cell_label_key].astype(str).value_counts(sort = False)

cell_type
NK             1304
Dendritic      1192
CD4T           6198
B              2033
FCGR3A+Mono    4022
CD14+Mono      2882
CD8T           1237
Name: count, dtype: int64

In [7]:
adata.obs[cond_key].astype(str).value_counts(sort = False)

condition
stimulated    9925
control       8943
Name: count, dtype: int64

In [8]:
cell_label_cond_count_df = adata.obs[[cell_label_key, cond_key]].astype({
    cell_label_key: str,
    cond_key: str,
})
cell_label_cond_count_df

                             cell_type   condition
index
AAACATACCAAGCT-1-stimulated         NK  stimulated
AAACATACCCCTAC-1-stimulated  Dendritic  stimulated
AAACATACCCGTAA-1-stimulated       CD4T  stimulated
AAACATACCCTCGT-1-stimulated          B  stimulated
AAACATACGAGGTG-1-stimulated       CD4T  stimulated
...                                ...         ...
GAGTGTTGCACACA-1-stimulated          B  stimulated
GACCTCACAGATCC-1-control            NK     control
GCGTAATGGGTAAA-1-stimulated       CD4T  stimulated
TACATAGAGAAGGC-1-stimulated       CD4T  stimulated
CCAGCTACCCGTTC-1-control             B     control

[18868 rows x 2 columns]

In [9]:
cell_label_cond_count_df.value_counts(sort = False)

cell_type    condition
B            control        928
             stimulated    1105
CD14+Mono    control       2184
             stimulated     698
CD4T         control       2715
             stimulated    3483
CD8T         control        643
             stimulated     594
Dendritic    control        670
             stimulated     522
FCGR3A+Mono  control       1232
             stimulated    2790
NK           control        571
             stimulated     733
Name: count, dtype: int64