In [1]:
import anndata as ad

In [ ]:
experiment_name = 'across_patients'
data_file = 'pbmc_patients'
file_type = '.h5ad'
cond_key = 'condition'
ctrl_key = 'ctrl'
stim_key = 'stim'
cell_label_key = 'sample_id'
sub_key = 'cell_type'
adata = ad.read_h5ad(f'./{data_file}{file_type}')

In [3]:
adata

AnnData object with n_obs × n_vars = 24483 × 1000
    obs: 'sample_id', 'condition', 'cluster', 'cell_type', 'multiplets', 'n_genes', 'condition_sample_id', 'condition_sample_id_cell_type'
    var: 'symbol', 'n_cells', 'highly_variable', 'means', 'dispersions', 'dispersions_norm', 'mean', 'std'
    uns: 'cell_type_colors', 'condition_colors', 'hvg', 'pca', 'rank_genes_groups', 'sample_id_colors'
    obsm: 'X_pca', 'X_tsne', 'X_umap'
    varm: 'PCs', 'marker_genes-condition-rank', 'marker_genes-condition-score'

In [4]:
adata.obs

,sample_id,condition,cluster,cell_type,multiplets,n_genes,condition_sample_id,condition_sample_id_cell_type
barcode,,,,,,,,
AAACATACATTTCC-1,1016,ctrl,9,CD14+ Monocytes,singlet,878,ctrl_1016,ctrl_1016_CD14+ Monocytes
AAACATACCAGAAA-1,1256,ctrl,9,CD14+ Monocytes,singlet,713,ctrl_1256,ctrl_1256_CD14+ Monocytes
AAACATACCATGCA-1,1488,ctrl,3,CD4 T cells,singlet,337,ctrl_1488,ctrl_1488_CD4 T cells
AAACATACCTCGCT-1,1256,ctrl,9,CD14+ Monocytes,singlet,850,ctrl_1256,ctrl_1256_CD14+ Monocytes
AAACATACCTGGTA-1,1039,ctrl,4,Dendritic cells,singlet,1111,ctrl_1039,ctrl_1039_Dendritic cells
...,...,...,...,...,...,...,...,...
TTTGCATGCCTGAA-1,1244,stim,6,CD4 T cells,singlet,468,stim_1244,stim_1244_CD4 T cells
TTTGCATGCCTGTC-1,1256,stim,4,B cells,singlet,819,stim_1256,stim_1256_B cells
TTTGCATGCTAAGC-1,107,stim,6,CD4 T cells,singlet,523,stim_107,stim_107_CD4 T cells
TTTGCATGGGACGA-1,1488,stim,6,CD4 T cells,singlet,503,stim_1488,stim_1488_CD4 T cells
TTTGCATGTCTTAC-1,1016,stim,5,CD4 T cells,singlet,421,stim_1016,stim_1016_CD4 T cells

In [5]:
adata.obs[cell_label_key]

barcode
AAACATACATTTCC-1    1016
AAACATACCAGAAA-1    1256
AAACATACCATGCA-1    1488
AAACATACCTCGCT-1    1256
AAACATACCTGGTA-1    1039
                    ...
TTTGCATGCCTGAA-1    1244
TTTGCATGCCTGTC-1    1256
TTTGCATGCTAAGC-1     107
TTTGCATGGGACGA-1    1488
TTTGCATGTCTTAC-1    1016
Name: sample_id, Length: 24483, dtype: category
Categories (8, int64): [101, 107, 1015, 1016, 1039, 1244, 1256, 1488]

In [6]:
adata.obs[cell_label_key].astype(str).value_counts(sort = False)

sample_id
1016    3337
1256    4131
1488    4553
1039     984
1015    5092
107     1035
1244    3352
101     1999
Name: count, dtype: int64

In [7]:
adata.obs[cond_key].astype(str).value_counts(sort = False)

condition
ctrl    12494
stim    11989
Name: count, dtype: int64

In [9]:
cell_label_cond_count_df = adata.obs[[cell_label_key, sub_key, cond_key]].astype({
    cell_label_key: str,
    sub_key: str,
    cond_key: str,
})
cell_label_cond_count_df

                 sample_id        cell_type condition
barcode
AAACATACATTTCC-1      1016  CD14+ Monocytes      ctrl
AAACATACCAGAAA-1      1256  CD14+ Monocytes      ctrl
AAACATACCATGCA-1      1488      CD4 T cells      ctrl
AAACATACCTCGCT-1      1256  CD14+ Monocytes      ctrl
AAACATACCTGGTA-1      1039  Dendritic cells      ctrl
...                    ...              ...       ...
TTTGCATGCCTGAA-1      1244      CD4 T cells      stim
TTTGCATGCCTGTC-1      1256          B cells      stim
TTTGCATGCTAAGC-1       107      CD4 T cells      stim
TTTGCATGGGACGA-1      1488      CD4 T cells      stim
TTTGCATGTCTTAC-1      1016      CD4 T cells      stim

[24483 rows x 3 columns]

In [11]:
cell_label_cond_count_df.value_counts(sort = False)

sample_id  cell_type          condition
101        B cells            ctrl         107
                              stim         132
           CD14+ Monocytes    ctrl         205
                              stim         244
           CD4 T cells        ctrl         297
                                          ...
1488       FCGR3A+ Monocytes  stim         141
           Megakaryocytes     ctrl          19
                              stim          27
           NK cells           ctrl         117
                              stim         164
Name: count, Length: 128, dtype: int64