In [1]:
import anndata as ad

In [ ]:
experiment_name = 'across_species'
data_file = 'species'
file_type = '.h5ad'
cond_key = 'condition'
ctrl_key = 'unst'
stim_key = 'LPS6'
cell_label_key = 'species'
sub_key = 'individual'
adata = ad.read_h5ad(f'./{data_file}{file_type}')

In [3]:
adata

AnnData object with n_obs × n_vars = 77642 × 6619
    obs: 'condition', 'species', 'individual', 'batch', 'louvain', 'n_counts', 'condition_species'
    obsm: 'X_pca', 'X_umap'

In [4]:
adata.obs

,condition,species,individual,batch,louvain,n_counts,condition_species
index,,,,,,,
AAACCTGTCGGTCTAA-1-0-0-0-0,LPS6,rabbit,3,0,7,1776.0,LPS6_rabbit
AAACCTGTCTGTCCGT-1-0-0-0-0,LPS6,rabbit,3,0,9,2722.0,LPS6_rabbit
AAACGGGAGCCGATTT-1-0-0-0-0,LPS6,rabbit,3,0,3,1396.0,LPS6_rabbit
AAACGGGAGGCGCTCT-1-0-0-0-0,LPS6,rabbit,3,0,3,1591.0,LPS6_rabbit
AAACGGGCACAACGCC-1-0-0-0-0,LPS6,rabbit,3,0,9,1341.0,LPS6_rabbit
...,...,...,...,...,...,...,...
ACTTTCACATTAGGCT-1-2-0-1-0,LPS6,pig,3,0,0,3906.0,LPS6_pig
AACTTTCAGAGTAAGG-1-1-0-1-1,LPS6,mouse,1,1,4,2423.0,LPS6_mouse
CGAGCACGTAATCACC-1-2-1-0-1,unst,rat,1,1,1,11297.0,unst_rat
CTACCCAAGCGATCCC-1-2-1-0-0,unst,rabbit,1,0,1,1595.0,unst_rabbit
ACGGGCTGTGTGAATA-1-2-0-0-0,LPS6,rabbit,1,0,2,1978.0,LPS6_rabbit

In [6]:
adata.obs[cell_label_key].astype(str).value_counts(sort = False)

cell_type
NK             1304
Dendritic      1192
CD4T           6198
B              2033
FCGR3A+Mono    4022
CD14+Mono      2882
CD8T           1237
Name: count, dtype: int64

In [7]:
adata.obs[cond_key].astype(str).value_counts(sort = False)

condition
stimulated    9925
control       8943
Name: count, dtype: int64

In [10]:
cell_label_cond_count_df = adata.obs[[cell_label_key, sub_key, cond_key]].astype({
    cell_label_key: str,
    sub_key: str,
    cond_key: str,
})
cell_label_cond_count_df

                           species individual condition
index
AAACCTGTCGGTCTAA-1-0-0-0-0  rabbit          3      LPS6
AAACCTGTCTGTCCGT-1-0-0-0-0  rabbit          3      LPS6
AAACGGGAGCCGATTT-1-0-0-0-0  rabbit          3      LPS6
AAACGGGAGGCGCTCT-1-0-0-0-0  rabbit          3      LPS6
AAACGGGCACAACGCC-1-0-0-0-0  rabbit          3      LPS6
...                            ...        ...       ...
ACTTTCACATTAGGCT-1-2-0-1-0     pig          3      LPS6
AACTTTCAGAGTAAGG-1-1-0-1-1   mouse          1      LPS6
CGAGCACGTAATCACC-1-2-1-0-1     rat          1      unst
CTACCCAAGCGATCCC-1-2-1-0-0  rabbit          1      unst
ACGGGCTGTGTGAATA-1-2-0-0-0  rabbit          1      LPS6

[77642 rows x 3 columns]

In [11]:
cell_label_cond_count_df.value_counts(sort = False)

species  individual  condition
mouse    1           LPS6         3464
                     unst         2196
         2           LPS6         3715
                     unst         3992
         3           LPS6         2131
                     unst         3327
pig      1           LPS6         2308
                     unst         2908
         2           LPS6         1647
                     unst         2415
         3           LPS6         2076
                     unst         2520
         4           unst         2744
rabbit   1           LPS6         5051
                     unst         4311
         2           LPS6         1905
                     unst         3388
         3           LPS6         1974
                     unst         3389
rat      1           LPS6         5801
                     unst         4458
         2           LPS6         2340
                     unst         3203
         3           LPS6         3602
                     unst         2777
Name: count, dtype: int64